.projetos-card {
    width: 30rem;
    height: auto;
    padding: 1rem;
    padding-bottom: 0;
    margin: 0;
}


@media screen and (max-width: 767px) {
    .projetos-card {
        width: 20rem;
        height: auto;
        padding: 0;
    }

    .Card-container {
        display: flex;
        justify-content: center;
        
    }
}