.home-container {
    display: flex;
    flex-direction: column;
}


.contato-container h3{
    color: #FFF;
}

h3 {
    padding-top: 0.5rem;
    color: rgb(51, 50, 50);
    display: flex;
    justify-content: center;
}

.formulario {
    display: flex;
    justify-content: center;
}

.formulario img {
    width: 45rem;
    height: 30rem;
    margin-left: 0;
    padding-left: 0;
    padding-right: 1rem;
    padding-top: 8rem;
}

.contato-formulario-div {
    border: 2px solid rgb(200, 200, 200);
    border-radius: 10px;
    margin: 1rem;
    justify-content: end;
    padding: 1rem;
}

.contato-formulario-div input {
    width: 30rem;
    height: 1rem;
    font-size: 100%;
    padding: 0.4rem;
    border: none;
    border-bottom: 2px solid rgb(200, 200, 200);
    transition: 0.3s ease-in-out;
    outline: 0;
}

.contato-formulario-div input:hover {
    width: 30rem;
    height: 1rem;
    font-size: 100%;
    padding: 0.4rem;
    border: none;
    border-bottom: 2px solid rgb(240, 53, 28);
    transition: 0.3s ease-in-out;

}

.contato-formulario-div label {
    font-size: 100%;
    color: rgb(100, 100, 100);
    display: flex;
}

.contato-formulario-div textarea {
    width: 30rem;
    height: 8rem;
    margin-right: 0;
    padding-right: 1rem;
    outline: 0;
    border: 2px solid rgb(200, 200, 200);
    transition: 0.3 ease-in-out;
}

.contato-formulario-div textarea:hover {
    border: 2px solid rgb(240, 53, 28);
    transition: 0.3s ease-in-out;
} 

#input-submit {
    margin-left: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    width: 4rem;
    height: 2rem;
    color: rgb(7, 7, 7);
    transition: 0.3s ease-in-out;
}

#input-submit:hover {
    transition: 0.3s ease-in-out;
    color: rgb(226, 0, 0);
}


@media  screen and (max-width: 769px) {
    .formulario img {
        display: none;
    }

    .contato-formulario {
        width: 100vw;
        height: auto;
    }

    .contato-formulario-div {
        width: auto;
        height: auto;
    }

    .contato-formulario-div input, .contato-formulario-div textarea {
        width: 80vw;
        height: auto;
    }

    #input-submit:hover {
        transition: none;
    }
}