.img-empreendedor {
    background-image: url('../../assets/Empreendedor.png');
    background-attachment: fixed;
    background-position: 50% 50%;
    width: 100%;
    height: 100vh;
}

.projeto-container {
    display: flex;
    flex-direction: column;
}

.projeto-container h2 {
    align-self: center;
    padding-top: 1rem;
    color: rgb(51, 50, 50);
}

.tabela-cards {
    display: flex;
    flex-flow: wrap;
    padding-left: 8rem;
}

.cards {
    display: flex;
    flex-direction: column; 
    padding: 2rem;
}

.cards p {
    align-self: center;
}

.cards a {
    opacity: 1;
    color: black;
}

@media screen and (max-width: 761px) {
    .img-empreendedor {
        display: block;
        background-position: 52% 10%;
        background-size: 300%;
        width: auto;
        height: 60vh;
    }
}