.home-container {
    display: flex;
    flex-direction: column;
}

.home-container h2 {
    align-self: center;
    padding-top: 1rem;
    color: rgb(51, 50, 50);
}

.tabela-cards {
    display: flex;
    flex-flow: wrap;
    padding-left: 8rem;
}

.cards {
    display: flex;
    flex-direction: column; 
    padding: 2rem;
}

.cards p {
    align-self: center;
}

.cards a {
    opacity: 1;
    color: black;
}

