.projeto-container {
    display: flex;
    flex-direction: column;
}

.projeto-container h2 {
    align-self: center;
    padding-top: 1rem;
    color: rgb(51, 50, 50);
}

.tabela-cards {    
    display: grid;
    grid-template-columns: repeat(2, 35rem);
    grid-template-rows: auto auto;
    grid-column-gap: 1rem;
    justify-content: center;
}


.cards {
    width: 30rem;
    height: auto;
}

.cards a {
    opacity: 1;
    color: black;
}

.texto-cards {
    padding-left: 1rem ;
}

@media screen and (max-width: 996px) {
    .tabela-cards {
      width: 100vw;
      height: auto;
      display: grid;
      grid-template-columns: 32rem;
      justify-content: center;
    }

    .cards {
        display: flex;
        flex-direction: column;
        width: auto;
        height: auto;
        padding-bottom: 1rem;
    }
}

@media screen and (max-width: 414px) {
    .tabela-cards {
      width: 100vw;
      height: auto;
      display: grid;
      grid-template-columns: 20rem;
      justify-content: center;
    }

    .cards {
        display: flex;
        flex-direction: column;
        width: auto;
        height: auto;
        padding-bottom: 1rem;
    }
}


